h1{
    color:rgb(33, 53, 71);
    font-family: 'Inter', sans-serif;
}



.accent{
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-image: -webkit-linear-gradient(315deg, rgb(66, 211, 146) 25%, rgb(100, 126, 255));
    background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-color: initial;
        background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.button-container{
    width: 256px;
}

#app{
    width: 256px;
    height: 700px;}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.is-loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #435466;
    border-top-color: #ffffff;
    animation: spinner .6s linear infinite;
}

.is-loading{
    color:transparent !important;
}

